<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs") %>
</head>
<body>
    <%-include("partials/nav.ejs") %>

    <div class="pageContent">
        <h1 id="comingSoon">Coming Soon</h1>
    </div>

    <%-include("partials/footer.ejs") %>
</body>
</html>