body {
    text-align: center;
    background-image: url("../img/number_background.jpg");
    background-position: center;
}

header {
    border: solid rgb(111, 71, 255);
    background-color: rgba(184, 165, 255, 0.75);
}

#scoreboard {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 50%;
    gap: 5%;
}

#main {
    padding: 5%;
    font-size: 2em;
    border: solid rgb(255, 239, 17);
    background-color: rgba(255, 245, 99, 0.50);
}

#guessBtn {
    font-weight: bold;
    border-color: rgb(0, 145, 0);
    background-color: rgb(49, 230, 49);
}

#resetBtn {
    font-weight: bold;
    border-color: rgb(148, 0, 0);
    background-color: rgb(255, 49, 49);
}